@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*,
:before,
:after {
  box-sizing: border-box;
}

body {
    background: #657587;
    font-family: 'Nunito', sans-serif;
}

.App {
    position: relative;

    

    .loading {
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 26px;
    }

    .NoMatch {
        text-align: center;
        color: #ffffff;
        font-size: 23px;

        h1 {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: #A5EEDB;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 767.98px) { 
        .SearchBar {
            margin: 0 auto 50px;
            display: flex;

            input[type="text"] {
                width: 100%;
                padding: 15px 20px 15px 5px;
                border-radius: 0;
                border-left: none;
                border-top: none;
                border-right: none;
                border-bottom: 1px solid rgba(84, 96, 110, 0.65);
            }
        }

        .SearchBarNav {
            background: rgba(158, 175, 194, 0.18);
            border-bottom: 1px solid rgba(84, 96, 110, 0.65);
            display: flex;
            
            a {
                width: 100%;
                display: flex;
                padding: 0 10px;

                &:hover {
                    background: rgba(000, 000, 000, 0.1);
                }
    
                &:active {
                    background: rgba(000, 000, 000, 0.2);
                }

                svg {
                    align-self: center;
                    width: 30px;
                    height: 30px;
                    fill: #ffffff;
                }
            }
        }

        .MainNav {
            display: none;
        }
    }

    @media (min-width: 768px) { 
        .SearchBar {
            margin: 50px auto;

            input[type="text"] {
                width: 400px;
                padding: 15px 20px;
                border-radius: 4px;
                border: 1px solid rgba(84, 96, 110, 0.65);
            }
        }

        nav {
            position: absolute;
            left: 50px;
            top: -7.5px;
    
            a {
                display: flex;
                padding: 15px;
                border-radius: 100%;
    
                &:hover {
                    background: rgba(000, 000, 000, 0.1);
                }
    
                &:active {
                    background: rgba(000, 000, 000, 0.2);
                }
    
                svg {
                    width: 30px;
                    height: 30px;
                    fill: #ffffff;
                }
            }
        }
    }

    .SearchBar {
        width: 100%;
        text-align: center;

        input[type="text"]{
            background: rgba(158, 175, 194, 0.18);
            font-size: 14px;
            color: #ffffff;
        }

        input[type="text"]::placeholder{
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .BookList{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;     

        .BookCard{
            margin-bottom: 30px;

            @media (min-width: 576px) { 
                .BookCardImage,
                .BookCardInfo {
                    width: 200px;
                }
            }

            @media (max-width: 991.98px) { 
                width: 33%;
            }

            @media (max-width: 767.98px) { 
                width: 50%;
            }

            @media (max-width: 575.98px) { 
                width: 100%;

                .BookCardImage,
                .BookCardInfo {
                    width: 80%;
                }

                &.hidden{
                    display: none;
                }
             }

            &.hidden {
                visibility: hidden;
            }

            .BookCardImage{
                margin: 0 auto;
                border-radius: 4px;
                background: #4b5764;
                box-shadow: -1px -1px 14px rgba(33, 39, 44, 0.13);
                overflow: hidden;

                a {
                    display: block;
                }
                
                img {
                    width: 100%;
                    transform: scale(1.05);
                }

                &:hover {
                    opacity: 0.9;
                }
            }

            .BookCardInfo {
                margin: 10px auto 0;

                span.author, span.title {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        word-break: break-word;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                span.title {
                    display: block;
                    width: 100%;
                    font-size: 21px;
                }

                span.author {
                    font-size: 14px;

                     a {
                         margin: 0 5px 0 0;
                     }
                }
            }
        }
    }

    .BookDetails {
        max-width: 960px;
        padding: 0 20px;
        margin: 0 auto 100px;
        display: flex;
        flex-flow: row wrap;

        @media (max-width: 575.98px) { 
            .BookImage {
                width: 100%;
                margin-right: 0;
            }

            .BookInfo {
                margin-top: 20px;
                width: 100%;
            }
        }

        @media (min-width: 576px) { 
            .BookImage {
                width: 30%;
                margin-right: 3%;
            }

            .BookInfo {
                width: 67%;
            }
        }

        .BookImage {
            display: flex;
            border-radius: 4px;
            background: #A5EEDB;
            box-shadow: -2px -3px 17px rgba(33, 39, 44, 0.13);
            overflow: hidden;

            img {
                width: 100%;
                transform: scale(1.05);
            }
        }

        .BookInfo {
            h1 {
                margin: 0;
                font-family: "Helvetica Neue", Arial;
                font-weight: 900;
                color: #FFF;
            }

            h3 { 
                margin: 5px auto 0;
                a {
                    text-decoration: none;
                    color: #000;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .BookDesc {
                font-size: 19px;
            }

            span{
                display: block;
                width: 100%;
            }
        }
    }

    .AuthorDetails {
        max-width: 960px;
        padding: 0 20px;
        margin: 0 auto;

        @media (max-width: 991.98px) { 
            h1 {
                text-align: center;
            }
        }

        .BookList{
            padding: 0;
        }

        h1 {
            margin: 0 auto 30px;
            font-family: "Helvetica Neue", Arial;
            font-weight: 900;
            color: #FFF;
        }
    }
}